body{
	margin: 0;
	text-align: center;
	position: relative;
	font-family: 'PT Mono', monospace;
}
.mainbody{
width: 100%;
height: 100%;
}
.header{
	position: relative;
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
	width: 100%;
	vertical-align: middle;
	font-family: 'Dancing Script', cursive;
	background-color:#17202a;
	color:  #eaecee;
}
h1{
	font-size: 4em;
}
.menu{
	background-color:#17202a;
	color:  #eaecee;
	font-size: 1em;
	padding-bottom: 1em;
	text-align: right;
  position: relative;
	padding-right: 20px;
}
.content{
	padding-top: 200px;
	width: 100%;
	height: 100%;
  position: relative;
}
.reference{
	padding-right: 20px;
}
a{
	color:#aeb6bf;
}
a:hover{
	color: #eaecee;
	text-decoration: none;
	font-size: 1.1em;
}
input{
	text-align: center;
	width: 20em;
}
h2{
	font-size: 2.5em;
	margin-bottom: 20px;
}
button{
	width: 20em;
	height: 2em;
	margin-top: 20px;
	color: #17202a;
	font-size: 1em;
	font-weight: bold;
	outline-color: #17202a;
	border-radius: 10px;
}
button:hover{
	color: #ffff;
	background-color: #aeb6bf;
}
.login-box{
	margin-top: 200px;
}
